.advantage__content {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.advantage__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
  @media screen and(min-width:768px) {
    width: calc(100% / 2 - 15px);
    margin-left: 15px;
    margin-bottom: 30px;
    &:nth-child(n + 3) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-bottom: 0px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.advantage__text {
  color: var(--text-color-gray--);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-basis: auto;
    max-width: 270px;
  }
}

.advanteg__svg {
  background-color: var(--gray-font--);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.advanteg__icon {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  @media screen and (min-width: 1200px) {
    width: 70px;
    height: 70px;
    display: block;
  }
}
