.site-nav__logo {
  color: var(--black--);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site-nav__logo {
  span {
    color: var(--txt-bgd-blue--);
  }
}
.footer__logo {
  color: var(--white--);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer__logo {
  span {
    color: var(--txt-bgd-blue--);
  }
}
