.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
