:root {
  --black-header-text--: #212121;
  --white--: #ffffff;
  --black--: #000000;
  --txt-bgd-blue--: #2196f3;
  --text-color-gray--: #757575;
  --gray-rgba--: rgba(255, 255, 255, 0.6);
  --black-font--: #2f303a;
  --gray-font--: #f5f4fa;
  --timing-function-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
